# Performance Profiles support for Franco Kernel Manager
# Copyright (C) 2018 Franco
# Copyright (C) 2018 SkyArk
# Copyright (C) 2018 Ancient

# Power Saving profile
on property:fku.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1401000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 266000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1113000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 100
    write /sys/kernel/fast_charge/force_fast_charge 1
    write /sys/module/sync/parameters/fsync_enabled 1
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/read_ahead_kb 512

# Balance Profile (FK defaults)
on property:fku.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1612000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1804000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 430000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1113000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 500
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/kernel/fast_charge/force_fast_charge 1
    write /sys/module/sync/parameters/fsync_enabled 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk1/queue/read_ahead_kb 1024

# Performance Profile
on property:fku.perf.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1612000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1804000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 430000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1401000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 2000
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/kernel/fast_charge/force_fast_charge 1
    write /sys/module/sync/parameters/fsync_enabled 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048
